
{% if articles.has_other_pages %}

    <div id="pagination" class="row">
        <ul class="pagination">
            {% if articles.has_previous %}
                <li><a href="?page={{ articles.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="">&laquo;</a></li>
            {% endif %}
            {% for page in paginator.page_range %}
                {% if page == articles.number %}
                    <li class="active"><a href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
                {% endif%}
            {% endfor %}
            {% if articles.has_next %}
                <li><a href="?page={{ articles.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo</a></li>
            {% else %}
                <li class="disabled"><a href="">&raquo</a></li>
            {% endif %}
        </ul>
    </div>

{% endif %}
