{% load staticfiles %} {% load i18n %}

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div  class="row">
            <div class="col-lg-4 col-md-5 col-sm-5 text-center">
                <h4>Особистий сайт Поліщука Михайла</h4>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <h4>Я в соцмережах:</h4>
            </div>
            <div class="col-lg-3 col-md-2 text-center">

                    <a rel="nofollow" class="face" href="https://www.facebook.com/?sk=nf" title="Поліщук Михайло в Facebook" target="_blank"></a>

                    <a rel="nofollow" class="vkon" href="https://vk.com/id90386736" title="Поліщук Михайло в ВКонтакте" target="_blank"></a>

                    <a rel="nofollow" class="inl" href="https://www.linkedin.com/in/mykhailo-polishchuk-572892100?trk=nav_responsive_tab_profile_pic"  title="Поліщук Михайло в LinkedIn" target="_blank"></a>

                    <a rel="nofollow" class="odn" href="https://ok.ru" title="Поліщук Михайло в Одноклассниках" target="_blank"></a>

                    <a rel="nofollow" class="goog" href="https://plus.google.com" title="Поліщук Михайло в Google+" target="_blank"></a>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-3 text-center">
                <h4>2016 MySite</h4>
            </div>
        </div>
    </div>
</footer>